---
name: PR Labels

# yamllint disable-line rule:truthy
on:
  pull_request:
    types:
      - opened
      - labeled
      - unlabeled
      - synchronize

jobs:
  workflows:
    uses: erdnaxela02/ha-addon-workflows/.github/workflows/pr-labels.yaml@main
